@media only screen and (max-width: 679px) {
  nav {
    padding: 20px 20px 20px 40px;
    margin-left: 0px;
    border-radius: 0px 10px 50px 0px;
    background-color:blue;
    transition: 1s ease all;
  }
}

@media only screen and (min-width: 931px) {
  .profile {
    width : 279px;
    transition: 1s ease all;
  }
}


html {
  background-image: url("white_wall.jpeg");
  background-repeat: repeat;
  background-color: rgb(218, 208, 198);
}

body {
  font-family: 'Lora', serif;
  margin: 50px;
}

h1 {
  font-family: 'Inspiration', cursive;
  font-size: 90px;
  text-align: center;
  padding-left: 100px;
}

nav {
  background-color: #5D3846;
  padding: 20px 20px 20px 40px;
  text-align: left;
  margin-left: 30%;
  border-radius: 0px 10px 50px 0px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding-left: 10px;
  padding-right:10px;
}

a:hover {
  color: #C192A3;
}

.profile {
  margin-left: 0px;
  position: absolute;
  width: 30%;
  box-shadow: 0 0 6px 1px rgba(95, 81, 72, 0.5);
  transition: 1s ease all;
}

img:hover {
  border-radius: 10px;
  transition: 1s ease all;
}

.social-media > a {
  color: black !important;
}

.social-media {
  margin-left: 35%;
  margin-top: 10px;
}

aside {
  margin-left: 35%;
  margin-top: 25px;
}