html {
  background-image: url("white_wall.jpeg");
  background-repeat: repeat;
  background-color: rgb(218, 208, 198);
}

body {
  font-family: 'Lora', serif;
  margin: 50px;
  border-style: solid;
}

header { border-style: solid;}

h1 {
  font-family: 'Inspiration', cursive;
  font-size: 90px;
  text-align: center;
  padding-left: 250px;
}

nav {
  background-color: #5D3846;
  padding: 20px 30px 20px 280px;
  text-align: left;
  white-space: nowrap;
  /*border-radius: 0px 10px 50px 0px;*/
}

a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding-left: 10px;
  padding-right:10px;
}

a:hover {
  color: #C192A3;
}

.profile {
  margin-left: 0px;
  position: absolute;
  box-shadow: 0 0 6px 1px rgba(95, 81, 72, 0.5);
  width: 265px;
  aspect-ratio: 1600 / 1998;
  transition: 1s ease all;
}

.profile:hover {
  filter: contrast(115%);
  transition: 1s ease all;
}

section > a {
  color: black !important;
}

section > a:hover {
  color: #963E63 !important;
}

.social-media {
  margin: 4px 0px 3px 280px;
  display: flex;
  justify-content: space-between;
}

aside {
  margin-right: 10px;
  text-align: right;
  padding-right: 10px;
  padding-bottom:3px;
}

.bio {
  padding:25px 50px 25px 50px;
}

@media (max-width: 733px) {
  nav {
    padding-left: 20px;
    transition: 1s ease all;
    text-align: left;
  }
  .profile {
    width:174px;
  }
  .social-media {
    margin-left: 0;
  }
  h1 {
    font-size: 60px;
    padding: 30px 30px 30px 185px;
    transition: 1s ease all;
    white-space: nowrap;
  }
  aside {
    margin-left: 0;
  }
  a {
    font-size: 15px;
    padding-left: 5px;
    padding-right:5px;
  }
}

footer {
  font-size: 12px;
  padding:4px;
}

@media screen and (min-width: 992px) {
  .profile {
    width : 307px;
    transition: 1s ease all;
  }
  .social-media {
    margin-left: 320px;
    display: flex;
  }

  h1 {
    text-align: center;
    padding-left: 210px;
    font-size: 110px;
    transition: 1s ease all;
  }

  nav {
    padding-left: 210px;
    text-align: center;
  }
}